header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
    margin: 0;
  }
  
  header, main, footer {
    text-align: center;
  }

